opensource:
  name: Opensource Omnitruck API
  enabled: true
  listen: ":3000"
trial:
  name: Trial Omnitruck API
  enabled: true
  listen: ":3001"
commercial:
  name: Commercial Omnitruck API
  enabled: true
  listen: ":3002"
logging:
  # can be text or json
  format: text